graft tests
include setup.json
include logging.yaml
include src/t4me/spglib_interface/*.hpp
include src/t4me/spglib_interface/spglib.cpp
include src/t4me/gsl_interface/gsl.c
include src/t4me/einspline_interface/*.hpp
include src/t4me/einspline_interface/einspline.cpp
include src/t4me/cubature_wildmagic_interface/*.hpp
include src/t4me/cubature_wildmagic_interface/cubature_wildmagic.cpp
include src/t4me/wildmagic_interface/*.hpp
include src/t4me/wildmagic_interface/wildmagic.cpp
include src/t4me/skw_interface/*.hpp
include src/t4me/skw_interface/skw.cpp
global-exclude *.pyc
global-exclude *.so
global-exclude *.a
global-exclude .git
global-exclude __pycache__